body {
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, gainsboro 0%) -0.5px -0.5px/1em
      1em,
    linear-gradient(
        45deg,
        #0000 calc(50% + -1 * 0.5px),
        gainsboro 0 calc(50% + 0.5px),
        #0000 0
      )
      0 0/2em 2em,
    linear-gradient(
        -45deg,
        #0000 calc(50% + -1 * 0.5px),
        gainsboro 0 calc(50% + 0.5px),
        #0000 0
      )
      0 0/2em 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: slategrey;
}

ul {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  color: black;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
